<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usage Purpose Page</title>
    <link rel="stylesheet" href="/usage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <img src="/logo.png" alt="logo" style="color: black;">
    </div>
    <div class="purpose">
        <div class="student">
            <h2>For Students</h2>
            <!-- Changed the form action to /user/student/login -->
            <form action="/user/student/login" method="GET">
                <button id="studentBtn" type="submit">Login / Signin</button>
            </form>
        </div>
        <div class="teacher">
            <h2>For Teachers</h2>
            <!-- Assuming you have a different route for teachers -->
            <form action="/user/teacher/login" method="GET">
                <button id="teacherBtn" type="submit">Login / Signin</button>
            </form>
        </div>
    </div>
    <footer></footer>
</body>
</html>