*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("http://www.introspective.co.uk/sites/default/files/web-background_0.jpg");
    background-size: cover;
    scroll-behavior: none;
}
.header{
    height: 5vh;
    margin: 1rem;
    color: white;
}
.title{
    font-size: 4rem;
}
.purpose{
    display: flex;
    height: 80vh;
    margin-top: 2rem;
}
.student{
    width: 40rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 6.25rem;
    height: 70vh;
    margin: 3.125rem;
}
h2{
    font-size: 50px;
}
.teacher{
    width: 40rem;
    height: 70vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 6.25rem;
    margin: 3.125rem;    
}
#studentBtn{
    color: green;
    height: 4rem;
    width: 7rem;
    border: 1px solid black;
    margin: 0.625rem 0px;
    font-size: medium;
}
#teacherBtn{
    background-color: green;
    color: white;
    height: 4rem;
    width: 7rem;
    border: 1px solid white;
    margin: 0.625rem 0px;
    font-size: medium;
}
#teacherBtn a{
    text-decoration: none;
    color: white;
    font-size: medium;
}

#studentBtn a{
    text-decoration: none;
    color: green;
    font-size: medium;
}
button:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}

footer{
    height: 8.5vh;
}