*{
    margin: 0px;
    padding: 0px;
}
body{
    background-size: cover;
    scroll-behavior: none;
}
.header{
    height: 5vh;
    margin: 1rem;
    color: white;
}
.header img{
    height: 3rem;
}
.title{
    font-size: 4rem;
}
.purpose{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: 80vh;
    margin-top: 2rem;
}
.student{
    width: 40rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
    border-radius: 3rem;
    height: 70vh;
    margin: 3.125rem;
}
h2{
    font-size: 50px;
}
.teacher{
    width: 40rem;
    height: 70vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
    border-radius: 3rem;
    margin: 3.125rem;    
}
#studentBtn{
    background-color: #0080ff;
    color: #fff;
    height: 3rem;
    width: 7.3rem;
    border: 2px solid white;
    border-radius: .5rem;
    margin: 0.625rem 0px;
    font-size: 1rem;
}
#teacherBtn{
    background-color: #0080ff;
    color: white;
    height: 3rem;
    width: 7.3rem;
    border: 2px solid white;
    border-radius: .5rem;
    margin: 0.625rem 0px;
    font-size: 1rem;
}
#teacherBtn a{
    text-decoration: none;
    color: white;
    font-size: medium;
}

#studentBtn a{
    text-decoration: none;
    color: green;
    font-size: medium;
}
button:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}

footer{
    height: 8.5vh;
}